
<launch>
    <arg name="namespace_prefix" default="my_eih_calib" />

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="eye_on_hand" value="true" />
        
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />

        <arg name="tracking_base_frame" value="/camera_link"/>
        <arg name="tracking_marker_frame" value="/calibration_target"/>

        <arg name="robot_base_frame" value="/base_link" />
        <arg name="robot_effector_frame" value="/ee_link" />
    </include>

    <!-- We used the realsense, and finally found that the camera 
    is not the same as the xyz axis of the point cloud. 
    We changed the original publish frame and inserted a tf 
    in the middle to solve this problem-->

    <!-- calibration result
        <group>
        <node pkg="tf" type="static_transform_publisher" name="camera_link"
         args="0 0 0 0 -1.5707963268 1.5707963268 camera_link2 camera_link 100" />
    </group>

        <include file="$(find easy_handeye)/launch/publish.launch">
            <arg name="namespace" value="$(arg namespace_prefix)"/>
        </include>

    <launch>

    <include file="$(find easy_handeye)/launch/publish.launch" >
    </include>

    </launch>
    -->

</launch>
